/* Reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}

.text-white {
    color: #fff !important;
}
/* 
    1. Từ ngoài vào trong
    2. Từ trên xuống dưới
    3. Từ tổng quan đến chi tiết
*/
/* 
    1. Vị trí 
    2. Kích thước 
    3. Màu sắc 
    4. Kiểu dáng (kiểu chữ, hình tròn, vuông, ...)
*/
#main {

}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    /* padding-left: 8px;
    padding-right: 8px; */
}

.col-3 {
    width: 33.333333%;
}

.col-2 {
    width: 50%;
}

.col-1 {
    width: 100%;
}
.text-center {
    text-align: center !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.clear {
    clear: both;
}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .Subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .Subnav {
    display: block;
}

#nav > li:hover > a, 
#nav .Subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .Subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .Subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav_arrow_down {
    font-size: 12px;
} 

#header .mobile-menu-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
}


#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover 
.menu-icon {
    color: #000;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}


#content {
    /* background-color: #ccc; */ 

}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0;
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .content-heading {
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 500;
}

#content .section-sub-heading {
    /* chu nghieen */
    font-style: italic;
    font-size: 15px;
    opacity: 0.6;
}

#content .content-heading,
#content .section-sub-heading {
    margin-top: 25px;
    text-align: center;
}

#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 48px;
}

#content .member-name {
    font-size: 15px;
    text-align: center;
}

#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

/* TOUR */
#content .tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    margin-top: 42px;
    list-style-type: none ;
}

.tickets-list li {
    font-size: 15px;
    color: #757575;
    padding: 11px 16px;
    border-bottom: 2px solid #ddd;
}

.tickets-list .Sold-out  {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 6px;
}

.tickets-list .quantyti  {
    float: right;
    background-color: #000;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    color: #fff;
    margin-top: -3px;
}

/* place */

.place-list {
    margin-top: 16px;
    margin-bottom: 48px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    font-size: 15px;
    padding: 16px;

}

.place-heading {
    font-size: 15px;
}

.place-time {
    margin-top: 15px;
    color: #757575; 
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}

.place-buy-btn {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
}

.place-buy-btn:hover {
    background-color: #ccc;
    color: #000;
}

/* modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}

.modal-container {
    background: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100%-32px);
    animation: modalFadeIn ease 0.5s;
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-close:hover {
    background-color: #f44336;
}

.modal-body {
    padding: 16px;
}

.modal-lable {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets {
    background:#009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}

#buy-tickets:hover {
    opacity: 0.9;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translate(0);
    }
}

/* TEST */
.modal-login {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    /* display: block; */
}

 .open-dangnhap{
    display: flex;
}

.modal-dangnhap-container {
    background: #fff;
    width: 335px;
    min-height: 400px;
    padding: 30px;
    animation: login ease 0.5s;
}

.modal-heading-dangnhap {
    font-size: 20px;
    font-weight: 200;
}

.modal-input-email {
    width: 100%;
    padding: 12px;
    margin: 20px 0px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.modal-btn-dangnhap {
    width: 100%;
    padding: 12px;
    background-color: #ee4d2d;
    border: none;
    color: #fff;
    text-transform: uppercase;
}   

@keyframes login {
    from { 
        opacity: 0.9;
        transform: translateY(-140px);
    }to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* CONTACT CONTENT */

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] { 
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-submit-btn {
    float: right;
    background-color: #000;
    color: #fff;
    padding: 10px 16px ;
}
/* MAP */
.map-section img{
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;

}

#footer .socials-list {
    font-size: 24px;

}

#footer >.socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.3);
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
} 

/*
*  
PC: >=1024px
Tablet: >= 740px & < 1024px
Mobile: < 740px
 */
@media (min-width: 740px) and (max-width: 1023) {
    
}

/* 
* Tablet:  && mobile
 */

 @media (max-width: 1023px) { 
    .place-buy-btn {
        padding: 15px 16px;
    }

    .contact-form .form-control {
        padding: 15px;
    }

    .socials-list {
        font-size: 48px;
        margin: 0 8px;
    }

 }

@media (max-width: 740px) {
    .s-full-width {
        width: 100% !important;
    }

    .s-col-full {
        width: 100%;
    }
    #nav {
        display: block;
    }
    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }
    

    #header .mobile-menu-btn {
        display: block;
    }

    #header .search-btn {
        display: none;
    }

    #header {
        overflow: hidden;
    }

    #nav .Subnav {
        position: initial;
        background-color: #ccc;
    }

    #nav .Subnav a {
        padding: 5px 41px;
    }

    #content .member-item {
        margin-top: 30px;
        width: 100%;
    }

    #content .member-img {
        width: 60%;
    }

    .contact-form {
        margin-top: 16px;
    } 

    .s-mt-8 {
        margin-top: 8px;
    }

}
